<h3 class="page-title">
服务管理 <small>系统提供的所有服务</small>
</h3>
<ul class="page-breadcrumb breadcrumb">
  <li>
    <i class="fa fa-home"></i>
    <%= link_to "供应商门户", root_path %>
    <i class="fa fa-angle-right"></i>
  </li>
  <li>
    <%= link_to "服务管理", services_path %>
    <i class="fa fa-angle-right"></i>
  </li>
  <li>
    <%= page_title %>
  </li>
</ul>