<ul class="nav navbar-nav">
  <li class="classic-menu-dropdown">
    <a id="menu_dashboard" href="/">
      控制台
    </a>
  </li>
  
  <li class="classic-menu-dropdown">
    <a data-toggle="dropdown" data-hover="dropdown" data-close-others="true" href="">
      系统管理<i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to "服务管理", services_path, { id: "menu_services" } %></li>
    </ul>
  </li>
  
  
</ul>

<% content_for :page_scripts do %>
  <%= javascript_include_tag 'highlight_menu', 'data-turbolinks-track' => false %>
<% end %>