<h3 class="page-title">
服务商注册向导 <small>注册成为本系统的服务供应商</small>
</h3>
<ul class="page-breadcrumb breadcrumb">
  <li>
    <i class="fa fa-home"></i>
    <%= link_to "控制台", root_path %>
    <i class="fa fa-angle-right"></i>
  </li>
  <li>
    <%= link_to "注册向导", root_path %>
    <i class="fa fa-angle-right"></i>
  </li>
  <li>
    供应商基本信息
  </li>
</ul>