<h3 class="page-title">
订单 <small>服务订单记录</small>
</h3>
<ul class="page-breadcrumb breadcrumb">
  <li>
    <i class="fa fa-home"></i>
    <%= link_to "系统管理", root_path %>
    <i class="fa fa-angle-right"></i>
  </li>
  <li>
    <%= link_to "服务订单", service_orders_path %>
    <i class="fa fa-angle-right"></i>
  </li>
  <li>
    <%= page_title %>
  </li>
</ul>