<tr>
  <td><%= f.select(:province, District.provinces, {}, { :class => "form-control select2me model_province", :data => { :id => f.options[:child_index] } }) %></td>
  <td><%= f.select(:city, District.cities(f.object.province), {}, { :class=>"form-control select2me model_city" }) %></td>
  <td><%= f.select(:district, District.regions(f.object.province, f.object.city), {}, { :class=>"form-control select2me model_district" }) %></td>
  <td>
    <%= f.hidden_field :_destroy %>
    <a class="btn default btn-xs black remove_fields" href="#">删除</a>
  </td>
</tr>

