<tr>
  <td>
    <%= f.c_text_field(:license_no) %>
  </td>
  <td>
    <%= f.c_text_field(:car_type) %>
  </td>
  <td>
    <%= f.hidden_field :_destroy %>
    <a class="btn default btn-xs black remove_fields" href="#">删除</a>
  </td>
</tr>

