<h3 class="page-title">
供应商信息 <small>本系统的供应商</small>
</h3>
<ul class="page-breadcrumb breadcrumb">
  <li>
    <i class="fa fa-home"></i>
    <%= link_to "供应商门户", root_path %>
    <i class="fa fa-angle-right"></i>
  </li>
  <li>
    <%= link_to "供应商管理", vendors_path %>
    <i class="fa fa-angle-right"></i>
  </li>
  <li>
    注册供应商向导
  </li>
</ul>


